<html>
   <head>
      <title>VueJs-Day1</title>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   </head>
   <body>
      <div id = "app">
         <h1>VueJs-Day1</h1>
         <div>
            stock - {{stock > 0 ? "In stock" : "Out of stock"}}
            <br>
            stock1 - {{stock1 = null ? "null" : "not null"}}
            <br>
            Object <br>
            ID = {{student.id}} <br>
            Name = {{student.name}} <br>
            email = {{student.email}} <br>
         </div>
      </div>
      <script type = "text/javascript">
         var vue_det = new Vue({
            el: '#app',
            data: {
               message: 'test message',
               stock:0,
               stock1:null,
               student :{
                   "id":1,
                   "name":"test tes",
                   "email":"test@mailinator.com"
               }
            }
         });
      </script>
   </body>
</html>